workflows/healthcare/appointments/rn-cna-job-application-lead-capture.json
{
  "name": "RN/CNA Job Application Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rn-cna-application",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Job Application Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rn-cna-application-form"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "applicant_name",
              "value": "={{ $json.body.full_name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "position",
              "value": "={{ $json.body.position }}"
            },
            {
              "name": "license_number",
              "value": "={{ $json.body.license_number }}"
            },
            {
              "name": "license_state",
              "value": "={{ $json.body.license_state }}"
            },
            {
              "name": "years_experience",
              "value": "={{ $json.body.years_experience }}"
            },
            {
              "name": "specialty",
              "value": "={{ $json.body.specialty }}"
            },
            {
              "name": "preferred_location",
              "value": "={{ $json.body.preferred_location }}"
            },
            {
              "name": "shift_preference",
              "value": "={{ $json.body.shift_preference }}"
            },
            {
              "name": "application_date",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "status",
              "value": "New Lead"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Application Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{ $env.GOOGLE_SHEET_ID }}",
        "range": "Candidates!A:L",
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "save-to-sheet",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "notification-message",
              "name": "notification_message",
              "value": "=🏥 New {{ $('Extract Application Data').item.json.position }} Application\\n\\n👤 Name: {{ $('Extract Application Data').item.json.applicant_name }}\\n📧 Email: {{ $('Extract Application Data').item.json.email }}\\n📱 Phone: {{ $('Extract Application Data').item.json.phone }}\\n🏥 Specialty: {{ $('Extract Application Data').item.json.specialty }}\\n📍 Location: {{ $('Extract Application Data').item.json.preferred_location }}\\n⏰ Shift: {{ $('Extract Application Data').item.json.shift_preference }}\\n📅 Experience: {{ $('Extract Application Data').item.json.years_experience }} years\\n🆔 License: {{ $('Extract Application Data').item.json.license_number }} ({{ $('Extract Application Data').item.json.license_state }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-notification",
      "name": "Format Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 100]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.RECRUITER_EMAIL }}",
        "toEmail": "={{ $env.RECRUITER_EMAIL }}",
        "subject": "=🏥 New {{ $('Extract Application Data').item.json.position }} Application - {{ $('Extract Application Data').item.json.applicant_name }}",
        "emailType": "html",
        "message": "=<html>\\n<head>\\n  <style>\\n    body { font-family: Arial, sans-serif; line-height: 1.6; }\\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\\n    .header { background: #2563eb; color: white; padding: 20px; border-radius: 8px 8px 0 0; }\\n    .content { background: #f9fafb; padding: 20px; border: 1px solid #e5e7eb; }\\n    .field { margin: 10px 0; }\\n    .label { font-weight: bold; color: #374151; }\\n    .value { color: #1f2937; }\\n    .footer { background: #f3f4f6; padding: 15px; text-align: center; border-radius: 0 0 8px 8px; }\\n    .action-btn { background: #2563eb; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block; margin: 10px 0; }\\n  </style>\\n</head>\\n<body>\\n  <div class='container'>\\n    <div class='header'>\\n      <h2>🏥 New Healthcare Application</h2>\\n    </div>\\n    <div class='content'>\\n      <div class='field'>\\n        <span class='label'>Position:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.position }}</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>👤 Name:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.applicant_name }}</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>📧 Email:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.email }}</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>📱 Phone:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.phone }}</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>🏥 Specialty:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.specialty }}</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>📍 Preferred Location:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.preferred_location }}</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>⏰ Shift Preference:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.shift_preference }}</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>📅 Years Experience:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.years_experience }}</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>🆔 License:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.license_number }} ({{ $('Extract Application Data').item.json.license_state }})</span>\\n      </div>\\n      <div class='field'>\\n        <span class='label'>📆 Applied:</span>\\n        <span class='value'>{{ $('Extract Application Data').item.json.application_date }}</span>\\n      </div>\\n      <a href='{{ $env.SHEET_URL }}' class='action-btn'>View in Spreadsheet</a>\\n    </div>\\n    <div class='footer'>\\n      <p>This application was automatically captured via n8n workflow</p>\\n    </div>\\n  </div>\\n</body>\\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Email Recruiter",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 100],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_CHANNEL }}",
        "text": "={{ $('Format Notification').item.json.notification_message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "send-slack",
      "name": "Notify Slack Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [850, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Application received successfully! We will contact you within 24-48 hours.\", \"application_id\": $('Save to Google Sheets').item.json.spreadsheetId } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook - Job Application Form": {
      "main": [
        [
          {
            "node": "Extract Application Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Application Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Notify Slack Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notification": {
      "main": [
        [
          {
            "node": "Email Recruiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-19T00:00:00.000Z",
  "versionId": "1"
}
